.wrapper {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'logo header'
    'sidenav main-content'
    'footer footer';

  height: 100vh;
}
.logo {
  background-color: yellow;
  grid-area: logo;
}

.header {
  background-color: green;
  grid-area: header;
}

.sidenav {
  background-color: grey;

  grid-area: sidenav;
}

.main-content {
  background-color: lightblue;

  grid-area: 'main-content';
}

.footer {
  display: flex;
  grid-area: footer;
  background-color: black;
}
